<style>
	.message-content {
		font-family: Arial, Helvetica, sans-serif;
		max-width: 600px;
		font-size: 18px;
		line-height: 24px;
	}
</style>

<div class="message-content">
	<p> Olá {{name}}!</p>
	<br/>
	<p>
		Você solicitou a recuperação de senha para a sua conta.
	</p>
	<p>
		Para recuperar sua senha, clique no link abaixo:
	</p>
	<p>
		<a href="{{link}}">Resetar minha senha</a>
	</p>
	<p>
		Se você não solicitou a recuperação de senha, ignore este e-mail.
	</p>
	<br/>
	<p>
		Atenciosamente,
	</p>
</div>
